<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="dice.css">
	</head>

	<body>
		<h1> Dice Game </h1>

		<p>Rules of the game:<p>
			<ul>
				<li>Roll the dice to start</li>
				<li>If you roll a <b>7 or 11</b> on the first roll, you win</li>
				<li>If you roll a <b>2, 3 or 12</b> on the first roll, you lose</li>
				<li>Any other total becomes your goal to roll again. If you roll your goal before you roll a <b>7</b>, you win. Otherwise, you lose</li>
			</ul>

			<a href="/dice/rolldice"><button>Roll Dice</button></a>
	</body>
</html>